.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.nav-tabs > li > a{

    color:black !important;

}

#btn-border {
    -webkit-border-radius: 30;
    -moz-border-radius: 30;
    border-radius: 30px;
    padding: 20px 25px 20px 25px;
    border: solid #F39200 1px;
    text-decoration: none;
}
#btn-border2 {
    -webkit-border-radius: 30;
    -moz-border-radius: 30;
    border-radius: 30px;
    padding: 20px 25px 20px 25px;
    border: solid #F39200 1px;
    text-decoration: none;
}

.vertical-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.MOImg
{
    margin-top : 50px;
    max-height: 150px;
    /*height: auto;*/
    max-width: 300px;
    /*width: auto;*/
}

.otherCTMember
{
    margin-top: 30px;
    margin-bottom: 30px;
}

.socialIcons
{
    max-height: 50px;
    /*height: auto;*/
    max-width: 50px;
    /*width: auto;*/
    margin: 10px;
}

.centerMultipleImages{
    display:inline-block;
}
.text-Mail {
    color: white;
}

.marginTop {
    margin-top: 5px;
}

.partnersPortfolioBox
{
    height: 200px;
}

.contactImages
{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-flow: column;

    max-height: 100%;
    /*margin: auto;*/
    /*height: auto;*/
    vertical-align: middle !important;
    max-width: 100%;
    /*width: auto;*/

    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.marginBottonSocialNetworks{
    margin-bottom: 15px;
    border-color: black;
}


.contactIcons
{
    max-height: 100px;
    /*height: auto;*/
    max-width: 100px;
    /*width: auto;*/
    /*margin: 10px;*/
}